<div class="container" >
  <h1>Here is <%=sealion.name%> profile:</h1>
  <h2>Name: <%=sealion.name%><br></h2>
  <h2>Favourite dance :<%=sealion.favourite_dance%></h2>
  <a href="/sealions/<%=sealion.id%>/edit">update <%=sealion.name%>'s info</a><br>
  <a href="/sealions/<%=sealion.id%>/edit">delete <%=sealion.name%> :(</a><br>
  <a href="/sealions">back to sealions page</a>
</div>
