<center>
<h1> Sealion <%= @person.first_name %> </h1>
<p> Name: <em><%= @person.first_name %> <%= @person.last_name %> </em></p>
<p>Age: <em><%= @person.age %> </em></p>

<p>Gender: <em><%= @person.gender %></em></p>
<p><a href="/sealions">Go back to Sealions menu</a></p>
</center>
